.header {
  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;

  width: 100%;
  height: 65px;
  background-color: #ffff;
}

.logo {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-left: 100px;
  margin-right: auto;
}

.favarite {
  margin-right: 100px;
  margin-left: auto;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}